<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="margin-bottom: 20px;">
                <div class="card-header">
                    <div class="row">
                        <div class="col-10">
                            <h2>Significant Areas and Assets</h2>
                        </div>
                        <div (click)="toggleAdding()" class="col-2"><button class="btn btn-primary">Add</button></div>
                    </div>
                    
                </div>
                <div *ngIf="adding=='Y'">
                    <app-facility-saa-form [facility_id]="facility_id"></app-facility-saa-form>
                </div>
                <div class="card-body">
                        No Data Found
                </div>
            </div>
        </div>
    </div>
</div>    