<div class="container-fluid m-2">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="card-header">
                    <h2>Facility Security Background</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Facility Security Background</h2>
                                </div>
                                <div class="card-body">
                                    <mat-card style="margin-bottom: 20px;">
                                        <mat-card-title  style="padding:20px;"><h2>Choose all that apply</h2></mat-card-title>
                                        <mat-card-content>
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10"><mat-checkbox value="1">The facility has had security assessments preformed in the past:</mat-checkbox></div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10"><mat-checkbox value="1">Facility tenants have performed their own security assessments in the past:</mat-checkbox></div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10"><mat-checkbox value="1">The facility has performed a threat assessment in the past:</mat-checkbox></div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10"><mat-checkbox value="1">The facility has a written security plan:</mat-checkbox></div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10"><mat-checkbox value="1">The facility has a written occupant emergency plan:</mat-checkbox></div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10"><mat-checkbox value="1">The facility has communications system for security and emergency:</mat-checkbox></div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10"><mat-checkbox value="1">The facility communicates security information to personnel and tenants:</mat-checkbox></div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10"><mat-checkbox value="1">The facility has an active shooter plan:</mat-checkbox></div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10"><mat-checkbox value="1">The factility has a Continuance of Operations Plan (COOP):</mat-checkbox></div>
                                            </div> 
                                        </mat-card-content>
                                    </mat-card>
                                </div>  
                            </div> 
                        </div>                                                 
                        <div class="col-sm-12 col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Security Equipment and Assets</h2>
                                </div>
                                <div class="card-body">
                                    <mat-card style="margin-bottom: 20px;">
                                        <mat-card-title  style="padding:20px;"><h2>Choose all that apply</h2></mat-card-title>
                                        <mat-card-content>
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility has perimeter fences or gates:</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The factility has a security force:</mat-checkbox></div>
                                                    </div>                    
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility has one or more security checkpoints / guard desks:</mat-checkbox></div>
                                                    </div>   
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility uses one or more video survellience systems.</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility uses ID actuated locks for employees</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Tenants in the facility have their own alarm systems.</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility uses an external intrusion detection system</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility uses an internal intrustion detection system:</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility has panic buttons as part of the IDS.</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Manufacturing Facility - Hazardous Materials</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Manufacturing Facility - Not Hazardous</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1"> Multi-tenant Commercial Office</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Multi-tenant Government Building</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Open Parking Lot</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Other</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Parking Garage</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Parking Spaces</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Port of Entry</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Power Plant</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Pump House (Steam)</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Pump House (Water)</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Residential Facility</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Single Tenant Commercial Office Building</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Single Tenant Government Office Building</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Unoccupied Facility</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Vehicle Maintenance Facility</mat-checkbox></div>
                                                    </div> 
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h2>Facility Access Control</h2>
                                </div>
                                <div class="card-body">
                                    <mat-card style="margin-bottom: 20px;">
                                        <mat-card-title  style="padding:20px;"><h2>Choose all that apply</h2></mat-card-title>
                                        <mat-card-content>
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility have perimeter fences or gates:</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The factility has a security force:</mat-checkbox></div>
                                                    </div>                    
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility has one or more security checkpoints / guard desks:</mat-checkbox></div>
                                                    </div>   
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility uses one or more video survellience systems.</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility uses ID actuated locks for employees</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Employees are allowed during off business hours</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility allows visitors or public during business hours</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility allows visitors or public during off business hours</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility allows employees during off business hours.</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Law Enforcement</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Manufacturing Facility - Hazardous Materials</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Manufacturing Facility - Not Hazardous</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1"> Multi-tenant Commercial Office</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Multi-tenant Government Building</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Open Parking Lot</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Other</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Parking Garage</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Parking Spaces</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Port of Entry</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Power Plant</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Pump House (Steam)</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Pump House (Water)</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Residential Facility</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Single Tenant Commercial Office Building</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Single Tenant Government Office Building</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Unoccupied Facility</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Vehicle Maintenance Facility</mat-checkbox></div>
                                                    </div> 
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    