
<div class="content-wrapper">
<div class="flex flex-col flex-auto w-full min-w-0">
    <div class="flex flex-col flex-auto">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-header" style="margin-top:0px;">
                        <h2>Survey - {{ data?.template['template_name'] }}</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12" style="background-color: lightgray;" style="padding: 10px;">
                                    <button (click)="toggleAdd()" class="btn btn-primary" style="margin-right:10px;">Add Section</button>
                                    <button [routerLink]="['/templates']" class="btn btn-secondary" style="margin-right:10px;">Template List</button>   
                                    <button (click)="deleteTemplate()" class="btn btn-danger" style="margin-right:10px;">Delete Template</button>                            
                                </div> 
                            </div>
                            <div *ngIf="uploading=='Y'"  class="card card-body">
                                <h2 style="font-size: 24px;"><b>Select File to Upload</b></h2>
                                <div class="row">
                                    <div class="col-xl-4"> &nbsp; </div>            
                                </div>
                                <div class="row">
                                    <div class="col-xl-4">Document Type</div>
                                    <div class="col-xl-8">
                                    <select class="form-control" [(ngModel)]="section_id" name="section_id" id="section_id">
                                        <option *ngFor="let m of data?.list" class="form-control" value="{{ m.id }}">{{ m.section_name }}</option>                    
                                    </select> 
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-4">Note/Description</div>
                                    <div class="col-xl-8">
                                    <input type="text" class="form-control" [(ngModel)]="dsc" name="dsc" id="dsc">
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-4"> &nbsp; </div>            
                                </div> 
                                <div class="mc">
                                    <input [formControl]="file" (change)="fileChange(index,$event)" type="file" placeholder="File">
                                    <br>
                                    <button style="margin-top:20px" (click)="showUpload()" mat-raised-button color="default">
                                        Cancel
                                    </button>
                                    <button style="margin-top:20px; margin-left:20px;" (click)="uploadFile()" mat-raised-button color="primary">
                                        Upload
                                    </button>
                                </div> 
                            </div>  
                            <div *ngIf="adding=='Y'" class="row">
                                <div class="col-sm-12" style="background-color: lightgray;" style="padding: 10px;">
                                    <div class="card">
                                        <div class="card-header" style="margin-top:0px;">
                                            Add/Edit Section
                                        </div>
                                        <div class="card-body">
                                            <div class="row" style="margin-bottom: 20px;">
                                                <div class="col-sm-2">Section Name:</div>
                                                <div class="col-sm-5"><input type="text" class="form-control" name="anything" [(ngModel)]="data.formData['section_name']"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">Location:</div>
                                                <div class="col-sm-5">
                                                    <select class="form-control" name="anything2" [(ngModel)]="data.formData['section_order']">
                                                        <option *ngFor="let m of data.sections" [value]="m.value">
                                                            {{ m.text }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>                                    
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-6">
                                                <button (click)="postTemplate();" class="btn btn-primary" style="margin-top:20px; margin-right:10px;">Save</button>
                                                <button *ngIf="data.formData['id']!=''&&data.formData['id']!='0'" (click)="deleteTemplateSection();" class="btn btn-danger" style="margin-top:20px; margin-right:10px;">Delete Section</button>
                                                <button (click)="toggleAdd();" class="btn btn-secondary" style="margin-right:10px; margin-top:20px; margin-left:10px;">Cancel</button></div>
                                            </div>                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Section Name</th>
                                                <th>Order</th>
                                                <th style="width: 290px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let m of data?.list">
                                                <td>
                                                  {{ m.id }}
                                                </td>
                                                <td>
                                                    {{ m.section_name }}
                                                </td>
                                                <td>
                                                    {{ m.section_order }}
                                                </td>
                                                <td style="width: 100px; text-align: right;">
                                                    <button class="btn btn-primary" [routerLink]="['/template-section-dashboard',m.id]"><i class="bi bi-clipboard-data"></i></button>
                                                    <button (click)="doEdit(m)" style="margin-left: 20px;" class="btn btn-dark"><i class="bi bi-arrow-down-up"></i></button>
                                                 </td>
                                            </tr>
                                        </tbody>
                                    </table>      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>

    
    <div class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary">SQLLabs Inc. &copy; 2023</span>
    </div>

</div>
</div>
