<sql-form 
[table]="'psp_saa_asset_type'" [embedded]="'Y'"
[title]="'psp_saa_asset_type Form'" [embedded]="'Y'"
[id]= "'0'" [id2]= "''" [id3]= "''"
[default_col]= "''" [default_value]= "''">

  
<div class="row">
<div class="col-sm-12 col-lg-6 col-xl-4">
    <sql-input [col]="'asset_type'" [style]="'width:400px;'" [label]="'Asset / Area Type'">
    </sql-input>
 
</div>
<div class="col-sm-12 col-lg-6 col-xl-4">
</div>
<div class="col-sm-12 col-lg-6 col-xl-4">
<div class="row">
<div class="col-sm-12">
<sql-submit></sql-submit><sql-delete></sql-delete>
</div>
</div>
</div>
</div>
</sql-form>
  