<div class="container-fluid m-2">
    <div class="row">
        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Facility Property Types</h2>
                                </div>
                                <div class="card-body">
                                    <mat-card style="margin-bottom: 20px;">
                                        <mat-card-title  style="padding:20px;"><h2>Choose all that apply</h2></mat-card-title>
                                        <p style="font-size:18px; margin-left:20px;">The property types you select are used to determine which survey templates and vulnerabiity scoring
                                            methodologies should be used for this facility.  Choose all that apply:
                                        </p>
                                        <mat-card-content>
                                                    <div class="row" style="font-size:18px">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Airport/Aircraft Hanger</mat-checkbox></div>
                                                    </div>   
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Antenna Site</mat-checkbox></div>
                                                    </div>                    
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Child Care Center</mat-checkbox></div>
                                                    </div>   
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Construction Site</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Facility Maintenance Facility</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Greenhouse</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Hospital</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Inspection/Screening Station</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Laboratory</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Law Enforcement</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Manufacturing Facility - Hazardous Materials</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Manufacturing Facility - Not Hazardous</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1"> Multi-tenant Commercial Office</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Multi-tenant Government Building</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Open Parking Lot</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Other</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Parking Garage</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Parking Spaces</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Port of Entry</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Power Plant</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Pump House (Steam)</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Pump House (Water)</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Residential Facility</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Single Tenant Commercial Office Building</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Single Tenant Government Office Building</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Unoccupied Facility</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Vehicle Maintenance Facility</mat-checkbox></div>
                                                    </div> 
                                        </mat-card-content>
                                    </mat-card>
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-10"><button class="btn btn-primary">Mark Complete</button></div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>