<!--
id int(11)
create_timestamp datetime
template_name varchar(90)
template_type varchar(30)
asset_type varchar(30)
visibility varchar(30)
user_id int(11)
sector varchar(60)
-->
<sql-add-table 
 [title]="'Templates'"
 [sql]="'select id, template_id, section_name, section_order from psp_template_section order by 2, 4'"
 [card] = "'Y'"
 [card_class] = "''"
 [card_style] = "''"
 [container_class] = "'container-fluid m-2 p-2'"
 [container_style] = "''"
 [search] = "'TOP'"
 [bs_row] = "'N'"
 [bs_col] = "''"
 [table_class] = "'table table-striped table-condensed'"
 [table_style] = "''"
 [title] = "'Survey Template Sections'"
 [pagination] = "'Y'"
 [pagesize] = 25
 [id] = "'0'"
 [open] = "'Y'"
 [class] = "'table table-striped table-condensed'"
 [style] = "''"
 [handler] = "'default'">
 <th #column id="id">ID</th>
 <th #column id="template_id">Template ID</th>
 <th #column id="section_name">Section Name</th>
 <th #column id="section_order">Section Order</th>
 <div form>
        <app-survey-template-section-form></app-survey-template-section-form>
 </div>
</sql-add-table>