<div class="card">

<div class="container-fluid p-3">
    <div class="row card card-body m-3">
        <div class="col-sm-5" style="background-color: white;">
            <h1 class="mt-2">{{ data?.formData?.facility_name }}</h1>
            <p>{{ data?.formData?.address }}<br>
            {{ data?.formData?.city }}, {{ data?.formData?.state }} {{ data?.formData?.zip }}<br>
        </div>     
    </div>
    <div class="row p-3">
        <div class="col-3">
            <div class="card card-body">
                <h2>Main Menu</h2>
                <sql-menu (menuClick)="processClick($event);" [active]="'GFD'">
                    <li #row id="GFD">General Facility Description</li>
                    <li #row id="PSB">Physical Security Background</li>                    
                    <li #row id="TENANTS">Tenants</li>
                    <li #row id="CONTACTS">Emergency Contacts</li>    
                    <li #row id="SAA">Significant Areas and Assets</li>                    
                    <li #row id="BARRIERS">Exterior Barriers</li>   
                    <li #row id="PARKING">Parking, Delivery & Dropoff</li>   
                    <li #row id="BE">Building Envelope</li>   
                    <li #row id="EC">Entry Controls</li>
                    <li #row id="UD">Utility Dependencies</li>      
                    <li #row id="TD">Technology Dependencies</li>   
                    <li #row id="SF">Security Force</li>   
                    <li #row id="SM">Security Management</li>   
                    <li #row id="ESS">Electronic Security Systems</li>                       
           </sql-menu>
            </div>
            <div class="card card-body">
                <sql-menu (menuClick)="processClick($event);">
                    <li #row id="1">Assessments</li>                    
                    <li #row id="1">Security Equipment</li>
                    <li #row id="2">Incident Tracking</li>
                    <li #row id="3">Photos</li>
                    <li #row id="4">Documents</li>                    
                    <li #row id="5">Facility Notes</li>
                    <li #row id="6">Tenant Maintenance</li>                       
                    <li #row id="6">Contacts Maintenance</li>                        
           </sql-menu>
            </div>
        </div>

        <div class="col-sm-6">
            <app-facility-general-info-panel *ngIf="topMenu=='GFD'||topMenu=='0'" [facility_id]="data?.formData?.id"></app-facility-general-info-panel>
            <app-facility-property-types *ngIf="topMenu=='PSB'" [facility_id]="data?.formData?.id"></app-facility-property-types>
            <app-facility-tenant-panel *ngIf="topMenu=='TENANTS'" [facility_id]="data?.formData?.id"></app-facility-tenant-panel>
            <app-facility-contacts-panel *ngIf="topMenu=='CONTACTS'" [facility_id]="data?.formData?.id"></app-facility-contacts-panel>            
            <app-facility-saa-panel *ngIf="topMenu=='SAA'" [facility_id]="data?.formData?.id"></app-facility-saa-panel>            
            <app-facility-barriers-panel *ngIf="topMenu=='BARRIERS'" [facility_id]="data?.formData?.id"></app-facility-barriers-panel>  
            <app-facility-parking-panel *ngIf="topMenu=='PARKING'"  [facility_id]="data?.formData?.id"></app-facility-parking-panel>   
            <app-facility-building-envelope-panel *ngIf="topMenu=='BE'" [facility_id]="data?.formData?.id"></app-facility-building-envelope-panel> 
            <app-facility-entry-controls-panel *ngIf="topMenu=='EC'" [facility_id]="data?.formData?.id"></app-facility-entry-controls-panel>     
            <app-facility-utility-dependency-panel *ngIf="topMenu=='UD'" [facility_id]="data?.formData?.id"></app-facility-utility-dependency-panel>     
            <app-facility-technology-dependency-panel *ngIf="topMenu=='TD'" [facility_id]="data?.formData?.id"></app-facility-technology-dependency-panel>      
            <app-facility-security-force-panel *ngIf="topMenu=='SF'" [facility_id]="data?.formData?.id"></app-facility-security-force-panel>
            <app-facility-security-management-panel *ngIf="topMenu=='SM'" [facility_id]="data?.formData?.id"></app-facility-security-management-panel>
            <app-facility-ess-panel *ngIf="topMenu=='ESS'" [facility_id]="data?.formData?.id"></app-facility-ess-panel>
<!--            <app-facility-overview [facility_id]="data?.formData?.id"></app-facility-overview> 
            <app-facility-notes-panel [facility_id]="data?.formData?.id"></app-facility-notes-panel>

            <app-facility-incident-panel [facility_id]="data?.formData?.id"></app-facility-incident-panel>

            <app-facility-assets-panel [facility_id]="data?.formData?.id"></app-facility-assets-panel>

            <app-facility-fsb-panel [facility_id]="data?.formData?.id"></app-facility-fsb-panel>
            <app-facility-incident-panel [facility_id]="data?.formData?.id"></app-facility-incident-panel>

            <app-facility-history-panel [facility_id]="data?.formData?.id"></app-facility-history-panel>
            <app-facility-recommended-panel [facility_id]="data?.formData?.id"></app-facility-recommended-panel>
            <app-facility-degraded-panel [facility_id]="data?.formData?.id"></app-facility-degraded-panel>

            <app-facility-building-envelope-panel [facility_id]="data?.formData?.id"></app-facility-building-envelope-panel>
            <app-facility-crime-stats-panel [facility_id]="data?.formData?.id"></app-facility-crime-stats-panel>
            
            <app-facility-ess-panel [facility_id]="data?.formData?.id"></app-facility-ess-panel>
            <app-facility-illumination-panel [facility_id]="data?.formData?.id"></app-facility-illumination-panel>
            <app-facility-log-panel [facility_id]="data?.formData?.id"></app-facility-log-panel>

            <app-facility-photos-panel [facility_id]="data?.formData?.id"></app-facility-photos-panel> 
            <app-facility-threat-panel [facility_id]="data?.formData?.id"></app-facility-threat-panel> 
            <app-facility-assessment-panel [facility_id]="data?.formData?.id"></app-facility-assessment-panel>
            <app-facility-map-panel [facility_id]="data?.formData?.id"></app-facility-map-panel>
            <app-edit-facility-description-editor></app-edit-facility-description-editor> -->
            </div>

        <div class="col-sm-3">
             <div class="card card-body">
                <div class="row">
                    <h2>Stakeholder Contact</h2>
                    <div class="row p-2">
                        <div class="col-6">
                            Company:
                        </div>
                        <div class="col-6">
                            {{ data?.stakeholder?.org_name }}
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-6">
                            Address:
                        </div>
                        <div class="col-6">
                            {{ data?.stakeholder?.org_name }}
                        </div>
                    </div>          
                    <div class="row p-2">
                        <div class="col-6">

                        </div>
                        <div class="col-6">
                            {{ data?.stakeholder?.org_name }}
                        </div>
                    </div>     
                    <div class="row p-2">
                        <div class="col-6">

                        </div>
                        <div class="col-6">
                            {{ data?.stakeholder?.org_name }}
                        </div>
                    </div>    
                    <div class="row p-2">
                        <div class="col-6">
                            Contact Name:
                        </div>
                        <div class="col-6">
                            {{ data?.stakeholder?.org_name }}
                        </div>
                    </div>               
                    <div class="row p-2">
                        <div class="col-6">
                            Phone:
                        </div>
                        <div class="col-6">
                            {{ data?.stakeholder?.org_name }}
                        </div>
                    </div>  
                    <div class="row p-2">
                        <div class="col-6">
                            Email:
                        </div>
                        <div class="col-6">
                            {{ data?.stakeholder?.org_name }}
                        </div>
                    </div>  
                    <div class="row p-2">
                        <div class="col-6">
                        </div>
                        <div class="col-6">
                            <button class="btn btn-secondary">Visit</button>
                        </div>
                    </div>  
                </div>
             </div>
        </div>        
    </div>   

    
</div>    
<div class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary">SQLLabs Inc. &copy; 2023</span>
</div>
</div>

