<div class="container-fluid img-fluid" [style]="style">
    <div class="row">
    <div class="d-none d-xl-block col-4"></div>
    <div class="col-4">
        <div class="card" style="margin-top:30px;">
            <img src="assets/sqllabs-logo-dark.png" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="row">
                <div class="col-2"></div>
                <div class="col-6">
                  <h5 class="card-title">Protective Security Platform</h5>
                  <!--            <p class="card-text">Don't have an account? <a [routerLink]="['/enroll']">Sign Up</a></p> -->
                              <form>
                                <div class="form-group p-3">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input type="email" [(ngModel)]="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="max-width:220px;">
  <!--                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                </div>
                                <div class="form-group p-3">
                                  <label for="exampleInputPassword1">Password</label>
                                  <input type="password" [(ngModel)]="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="max-width:220px;">
                                </div>
                                <button (click)="postForm()" class="btn btn-primary" style="margin-left: 20px;">Submit</button>
                              </form>
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>
</div>