<div class="container-fluid m-2">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="card-header">
                    <h2>Active Assessments</h2>
                </div>
                <div class="card-body">
                    <div *ngFor="let m of data" class="card p-2 m-2">
                        <div class="card-header">
                        <h2>{{ m.stakeholder_name}}</h2>
                        </div>
                        <div class="card-body">
                        <h3 class="card-title">{{ m.facility_name }}</h3>
                        <h3 class="card-title">{{ m.template_name }}</h3>
                        <p>
                            {{ m.address}}<br>
                            {{ m.city }}, {{ m.state }} {{ m.zip }}
                        </p>
                        <a [routerLink]="['/assessment-dashboard',m.id]" class="btn btn-primary">Assessment Dashbaord</a>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>