<div class="flex flex-col flex-auto w-full min-w-0">


    <div class="flex flex-col flex-auto">
             <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 p-4" style="background-color: lightgrey;">
                        <button mat-raised-button color="primary">Add Facility</button>
                        <button mat-raised-button color="primary" style="margin-left: 20px;">Add Stakeholder</button>
                        <button mat-raised-button color="primary" style="margin-left: 20px;">Schedule Assessment</button>
                        <button mat-raised-button color="primary" style="margin-left: 20px;">Preview Question Set</button>
                        
                    </div>
                    <div class="col-md-12 p-4">
                        <h1 style="font-size: 24px; font-weight: bold;">Section</h1>
                    </div>
                </div>
            </div>           
    </div>

    
    <div class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary">SQLLabs Inc. &copy; 2023</span>
    </div>

</div>
