<div class="container-fluid">
    <div class="row" style="background-color: lightgray;">
        <div class="col-sm-8 pt-3">
            <div class="card-title"><h2>{{ data?.formData.org_name }}</h2></div>
        </div>
        <div class="col-sm-4">
        </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-12">
                <app-top-menu-panel [AS]="'N'" [stakeholder]="data?.formData['id']" [PQ]="'N'"></app-top-menu-panel>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="card-body">
                        <div class="row">
                                    <ul class="list-group list-group-flush" style="width: 100% !important;;">
                                      <li class="list-group-item"><b>{{ data?.formData.org_name }}</b></li>
                                      <li class="list-group-item">{{ data?.formData.contact_name }}</li>
                                      <li class="list-group-item">{{ data?.formData.address }}</li>
                                      <li class="list-group-item">{{ data?.formData.city }} {{ data?.formData.state }} {{ data?.formData.zip }}</li>
                                    </ul>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="card-header" style="margin-top:0px;">
                    <h2>Active Facilties</h2>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    Facility Name
                                </th>
                                <th>
                                    Address
                                </th>
                                <th style="width:75px;">
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of data?.facilities">
                                <td>
                                    {{ m.facility_name }}
                                </td>
                                <td>
                                    {{ m.address }} {{ m.city }} {{ m.state }} {{ m.zip }}
                                </td>
                                <td>
                                    <button class="btn btn-primary" [routerLink]="['/facility-dashboard',m.id]"><i class="bi bi-clipboard-data"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>