<div class="row">
    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h2>Building Envelope</h2>
                            </div>
                            <div class="card-body">
                                <mat-card style="margin-bottom: 20px;">
                                    <mat-card-title  style="padding:20px;"><h2>Choose all that apply</h2></mat-card-title>
                                    <mat-card-content>                 
                                        <div class="row">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-8"><mat-checkbox value="1">Vehicles can park within 400 feet of the facility.</mat-checkbox></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-8"><mat-checkbox value="1">There is a droppoff area within 100 feet of the facility.</mat-checkbox></div>
                                        </div>                                        
                                        <div class="row">
                                             <div class="col-sm-2"></div>
                                             <div class="col-sm-8"><mat-checkbox value="1">There is dedicated employee parking.</mat-checkbox></div>
                                        </div> 
                                        <div class="row">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-8"><mat-checkbox value="1">Access to parking area is controlled.</mat-checkbox></div>
                                       </div> 
                                       <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-8"><mat-checkbox value="1">There is covered parking.</mat-checkbox></div>
                                   </div> 
                                   <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-8"><mat-checkbox value="1">There is underground parking.</mat-checkbox></div>
                               </div> 
                               <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-4"><mat-checkbox value="1">There is a dedicated delivery area.</mat-checkbox></div>
                           </div> 
                                    </mat-card-content>
                                </mat-card>
</div>

                                
                            </div>





                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10"><button class="btn btn-primary">Mark Complete</button></div>
                        </div> 
                    </div>

