<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="margin-bottom: 20px;">
                <div class="card-header">
                    <h2>General Facility Description</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <table class="table table-striped table-condensed">
                            <tbody>
                                <tr>
                                    <td style="width:120px;">Facility Name:</td>
                                    <td style="width:220px;">Schaumburg Corporate Center</td>
                                </tr>
                                <tr>
                                    <td style="width:120px;">Address:</td>
                                    <td style="width:220px;">1501 E. Woodfield Rd.</td>
                                </tr>
                                <tr>
                                    <td style="width:120px;"></td>
                                    <td style="width:220px;">Schaumburg, IL 60173</td>
                                </tr>
                                <tr>
                                    <td style="width:120px;">Coordinates:</td>
                                    <td style="width:220px;">(0,0)</td>
                                </tr>
                                <tr>
                                    <td style="width:120px;">Corrected Address:</td>
                                    <td style="width:220px;"></td>
                                </tr>
                            </tbody>
                        </table>                                             
                    </div>
                </div>
            </div>
            <div class="card" style="margin-top:20px;">
                <div class="card-body">
                    <sql-form
                         [embedded]="'Y'"
                         [id] = "data?.formData?.facility_description_id"
                         [id2] = "''"
                         [id3] = "''"
                         [table] = "'psp_facility_description'"
                         [default_col] = "'facility_id'"
                         [default_col2] = "''"
                         [default_col3] = "''"
                         [default_value] = "facility_id"
                         [default_value2] = "''"
                         [default_value3] = "''"
                         [card] = "'N'"
                         [class] = "''"
                         [style] = "''"
                         [title] = "''"
                         [bs_row] = "'N'"
                         [bs_col] = "''"
                         [handler] = "'default'">
                    <sql-editor 
                         [preview]= "'Y'"
                         [edit]="'N'"
                         [col]= "'text'"
                         [class]="''"
                         [style] = "''"
                         [hint] = "''"
                         [label] = "'Facility Description'"
                         [placeholder] = "''"
                         [appearance] = "'outline'"
                         [bs_row] = "'Y'"
                         [bs_col] = "''"
                         [top_label] = "'N'">
                    </sql-editor>
                    <sql-submit 
                         [label] = "'Save Changes'"
                         [class] = "'btn btn-primary'"
                         [style] = "''">
                    </sql-submit>
                <post-insert-trigger
                   [sql] = "'update psp_facility set facility_description_id = :id where id = :facility_id'"></post-insert-trigger>
                </sql-form>
                </div>
            </div>
        </div>
    </div>
</div>    