    <div class="container-fluid m-2">
    <div class="row">
                        <div class="col-sm-12 col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Facility Background - Threat Assessment</h2>
                                </div>
                                <div class="card-body">
                                    <mat-card style="margin-bottom: 20px;">
                                        <mat-card-title  style="padding:20px;"><h2>Choose all that apply</h2></mat-card-title>
                                        <mat-card-content>
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10"><mat-checkbox value="1">The facility is well-known or historically significant:</mat-checkbox></div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10"><mat-checkbox value="1">The facility contains Federal, State, or Local government offices.:</mat-checkbox></div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10"><mat-checkbox value="1">The facility contains political organizations:</mat-checkbox></div>
                                            </div> 
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10"><mat-checkbox value="1">The facility contains media or the press:</mat-checkbox></div>
                                            </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility is a one buidling:</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility consists of two or more buidlings in a campus or cluster:</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility covers a large area (campus):</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility is open to the public:</mat-checkbox></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility has a public parking lot:</mat-checkbox></div>
                                                    </div>  
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility has an employee only parking lot:</mat-checkbox></div>
                                                    </div>  
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility has a covered parking structure:</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility has underground parking:</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility has an outdoor open area:</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility covers a large indoor gathering area:</mat-checkbox></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility has dedicated delivery areas:</mat-checkbox></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility has public/emploee elevators:</mat-checkbox></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility has dedicated freight elevators:</mat-checkbox></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility has seperate employee and visitor entrance:</mat-checkbox></div>
                                                    </div> 

                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility contains a bank, credit union or cash handlnig business:</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility contains restaurants or foodservice:</mat-checkbox></div>
                                                    </div> 

                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility tenants include criminal and bankruptcy courts, high-risk law enforcement, including those who routinely contact or attract the attention of dangerous groups (FBI, DEA, ATF):</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility is in a high crime area</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility is in a moderate crime area</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility tenants include criminal and bankruptcy courts, high-risk law enforcement, including those who routinely contact or attract the attention of dangerous groups (FBI, DEA, ATF):</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility has a significant history of violence directed at or occurring in the facility. More than 10 incidents per year requiring law enforcement/security response for unruly or threatening persons on site.</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">Public contact with the occupants is occasionally adversarial based on the nature of business conducted at the facility.</mat-checkbox></div>
                                                    </div>                                                     
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility has a history of demonstrations at the facility.</mat-checkbox></div>
                                                    </div> 
                                                    <div class="row">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10"><mat-checkbox value="1">The facility has a history of violence directed at the facility or the occupants; 5–10 incidents per year requiring law enforcement/security response for unruly or threatening persons on site</mat-checkbox></div>
                                                    </div> 
                                        </mat-card-content>
                                    </mat-card>
                                </div>  
                            </div> 
                        </div>                                                 
                    </div>
                </div>