<div class="flex flex-col flex-auto w-full min-w-0">
    <div class="container-fluid">
    <!--<div class="flex flex-col flex-auto">-->
        <div class="row container-fluid">
            <div class="col-12">
                <app-top-menu-panel></app-top-menu-panel>
                <app-calendar-panel></app-calendar-panel>   
            </div>
        </div>
        <div class="row container-fluid m-3">
            <div class="col-sm-12 col-lg-12 col-xl-6 col-xxl-4">
                <app-stakeholder-card-list-panel [data]="data.stakeholders"></app-stakeholder-card-list-panel>    
                <app-test-grid-panel></app-test-grid-panel>
            </div>
            <div class="col-sm-12 col-lg-12 col-xl-6 col-xxl-4">
                <app-facility-card-list-panel [data]="data.facilities"></app-facility-card-list-panel>    
                <app-test-grid-panel></app-test-grid-panel>
            </div>
            <div class="col-sm-12 col-lg-12 col-xl-6 col-xxl-4">
                <app-assessment-card-list-panel [data]="data.assessments"></app-assessment-card-list-panel>    
                <app-test-grid-panel></app-test-grid-panel>
            </div>
        </div>
    <!--</div>-->      
    </div>
    <div class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary">SQLLabs Inc. &copy; 2023</span>
    </div>

</div>
