<div class="container-fluid m-2">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="margin-top: 20px; margin-bottom: 20px;">
                <div class="card-header">
                    <h2>Facility Menu</h2>
                </div>
                <div class="card-body">
                        <div class="row">
                            <ul class="list-group list-group-flush" style="width: 100% !important;;">
                            <li (click)="clickIt('toggleGFD')" class="list-group-item">General Facility Description</li>
                            <li (click)="clickIt('toggleFSB')" class="list-group-item">Facility Security Background</li>
                            <li (click)="clickIt('toggleTenants')" class="list-group-item">Facility Tenants</li>
                            <li (click)="clickIt('toggleSAA')" class="list-group-item">Significant Areas & Assets</li>
                            <li (click)="clickIt('toggleHistory')" class="list-group-item">Assessment History</li>
                            <li (click)="clickIt('toggleDashboard')" class="list-group-item">Facility Security Dashboard</li>
                            <li (click)="clickIt('toggleRecommended')" class="list-group-item">Recommended Countermeasures</li>
                            <li (click)="clickIt('toggleDegraded')" class="list-group-item">Degraded Countermeasures</li>
                            <li (click)="clickIt('toggleEC')" class="list-group-item">Entry Controls</li>
                            <li (click)="clickIt('toggleBE')" class="list-group-item">Building Envelope</li>
                            <li (click)="clickIt('toggleESS')" class="list-group-item">Electronic Security Systems</li>
                            <li (click)="clickIt('toggleParking')" class="list-group-item">Parking</li>
                            <li (click)="clickIt('toggleBarriers')" class="list-group-item">Barriers</li>
                            <li (click)="clickIt('toggleIllumination')" class="list-group-item">Illumination</li>
                            <li (click)="clickIt('toggleUD')" class="list-group-item">Utility Dependencies</li>
                            <li (click)="clickIt('togglePhotos')" class="list-group-item">Photos</li>
                            <li (click)="clickIt('toggleDocs')" class="list-group-item">Documents</li>
                            <li (click)="clickIt('toggleThreat')" class="list-group-item">Threat Profile</li>
                            <li (click)="clickIt('toggleCrimeStats')" class="list-group-item">Crime Statistics</li>
                            <li (click)="clickIt('toggleContacts')" class="list-group-item">Emergency Contacts</li>
                            <li (click)="clickIt('toggleTests')" class="list-group-item">Functionality Tests</li>
                            <li (click)="clickIt('toggleNotes')" class="list-group-item">Facility Notes</li>
                            <li (click)="clickIt('toggleLog')" class="list-group-item">Facility Change Log</li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>