<!--
id int(11)
create_timestamp datetime
saa_type varchar(80)
property_type_id int(11)
default_order int(11)
-->
<sql-form
 [id] = "'0'"
 [id2] = "''"
 [id3] = "''"
 [table] = "'psp_saa_type'"
 [default_col] = "''"
 [default_col2] = "''"
 [default_col3] = "''"
 [default_value] = "''"
 [default_value2] = "''"
 [default_value3] = "''"
 [embedded] = "'Y'"
 [card] = "'Y'"
 [class] = "''"
 [style] = "''"
 [title] = "''"
 [bs_row] = "'N'"
 [bs_col] = "''"
 [handler] = "'default'">

 <div class="row"> 
    <!-- Left Column -->
    <div class="col-sm-12 col-lg-6 col-xl-3"> 
       <sql-input 
        [col]= "'saa_type'"
        [class]="''"
        [style] = "'width:400px;'"
        [hint] = "''"
        [label] = "'Type Name'"
        [placeholder] = "''"
        [appearance] = "'outline'"
        [bs_row] = "'N'"
        [bs_col] = "''"
        [top_label] = "'N'">
       </sql-input>
    </div>
    <!-- Center Column -->
    <!--
    id int(11)
    create_timestamp datetime
    property_type varchar(80)
    -->
    <div class="col-sm-12 col-lg-6 col-xl-3"> 
            <sql-data-select 
            [appearance] = "'outline'"
            [native] = "'Y'"
            [sql] = "'select id, property_type from psp_property_type order by property_type'"
            [handler] = "''"
            [col] = "'property_type_id'"
            [class] = "''"
            [style] = "'width: 400px;'"
            [hint] = "''"
            [icon] = "''"
            [label] = "'Property Type'"
            [placeholder] = "''"
            [bs_row] = "'N'"
            [bs_col] = "''"
            [top_label] = "'N'">
            </sql-data-select>
    </div>
    <!-- Right Column -->
    <div class="col-sm-12 col-lg-6 col-xl-3"> 
            <sql-input 
            [col]= "'default_order'"
            [class]="''"
            [style] = "'width:100px;'"
            [hint] = "''"
            [label] = "'List Order'"
            [placeholder] = "''"
            [appearance] = "'outline'"
            [bs_row] = "'N'"
            [bs_col] = "''"
            [top_label] = "'N'">
            </sql-input>

            <sql-submit 
             [label] = "'Save Changes'"
             [class] = "'btn btn-primary'"
             [style] = "''">
            </sql-submit>
    </div>
 </div>

</sql-form>
